@import "../common/mixins.scss";
@import "../common/variables.scss";

.container-footer {
  background-color: $darkBlue;
  box-sizing: border-box;
  color: $white;
  padding: 10px 0 10px 0;
  min-height: 150px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  a {
    font-size: 26px;
    color: $lighGrey;

    text-decoration: none;
    transition: text-decoration 0.8s;
  }
  & a:hover {
    color: $white;
  }
}
.policy {
  font-size: 14px;
  a {
    text-decoration: none;
    color: $lighGrey;
    padding: 0 10px;
  }
  & a:hover {
    color: $white;
    text-decoration: $white;
  }
}
