//Fuertes
$font: "Source Sans Pro", sans-serif;

//Colores
$darkBlue: rgb(3, 37, 65);
$lightGray: rgb(1, 255, 196);
$ligthBlue: rgb(2, 195, 248);
$gradiente: linear-gradient(
  to right,
  rgba(rgb(0, 218, 167), 1) 0%,
  rgba(rgb(0, 174, 223), 1) 100%
);

$text: #dcddde;
$background: #36393f;
$menu: #23272a;
$accent: #2196f3;
$gray: rgb(97, 97, 97);
$lightGray: #a8aaad;
$smokeGray: #dcddde;
$whiteGray: rgb(220, 221, 222);
$black: rgb(0, 0, 0);
$darkGray: rgb(35, 39, 42);
$darkSmoke: rgb(54, 57, 63);
$smoke: #80868b;
$lightBlue: rgb(33, 150, 243);
$blue: #161cf9;
