//Fuertes
$font: "Source Sans Pro", sans-serif;

//Colores
$darkBlue: rgb(3, 37, 65);
$white: #fff;
$lightGreen: rgb(1, 255, 196);
$ligthBlue: rgb(2, 195, 248);
$lighGrey: #d8dadc;
$gradiente: linear-gradient(
  to right,
  rgba(rgb(0, 218, 167), 1) 0%,
  rgba(rgb(0, 174, 223), 1) 100%
);
